body {
    background-color: #f8f9fa;
    margin-bottom: 100px;
}

.header {
    margin-top: 50px;
}

.footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
